<!--@必要的引入-->
<!--引入vue-->
<script type="text/javascript" src="__PLUGINS__/vue/vue.min.js"></script>

<!--HttpVueLoader-->
<script type="text/javascript" src="__PLUGINS__/vue/httpVueLoader.js"></script>

<!--axios-->
<script type="text/javascript" src="__PLUGINS__/axios/axios.min.js"></script>
<script type="text/javascript" src="__JS__/axios-base.js"></script>

<!--@引入其他的相关依赖-->
{foreach $vueConfig._PLUGINS_JS as $k=>$v}
<!--引入{$v.name} -->
<script type="text/javascript" src="__STATIC__/{$v.path}"></script>
{/foreach}
